<!DOCTYPE html>
<html>
  <head>
    <title>BlogPost</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= nav_bar brand: "Blog Post", responsive: true, brand_link: root_url do %>
      <%= menu_group do %>
        <%= menu_item "Post", new_post_path %>
        <%= menu_item "Busca em construção"%>
      <% end %>
    <% end %>
    <div class="container">
      <%= yield %>
    </div>

  </body>
</html>
